In [4]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName("SimpleApp").getOrCreate()

In [6]:
spark

In [7]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x116799f50>

In [8]:
print("hello world")

hello world

In [9]:
lines = spark.read.text("/Users/jinshuan.li/DevTools/spark-2.4.4/data/mllib/als/sample_movielens_ratings.txt")

In [12]:
lines=lines.rdd

In [21]:
parts = lines.map(lambda row: row.value.split("::"))

In [25]:
ratingsRDD = parts.map(lambda p: Row(userId=int(p[0]), movieId=int(p[1]),
                                     rating=float(p[2]), timestamp=int(p[3])))

In [26]:
ratings = spark.createDataFrame(ratingsRDD)

In [33]:
(training, test) = ratings.randomSplit([0.8, 0.2])

In [34]:
als = ALS(maxIter=5, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
          coldStartStrategy="drop")

In [35]:
model = als.fit(training)

In [36]:
model

ALS_ed3d43210244

In [37]:
predictions = model.transform(test)

In [38]:
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 1.8742948208260084

In [39]:
userRecs = model.recommendForAllUsers(10)

In [46]:
userRecs.show()

+------+--------------------+
|userId|     recommendations|
+------+--------------------+
|    28|[[25, 7.616129], ...|
|    26|[[51, 5.903876], ...|
|    27|[[80, 4.770147], ...|
|    12|[[90, 5.735796], ...|
|    22|[[51, 5.0784936],...|
|     1|[[62, 3.7708645],...|
|    13|[[80, 4.9686475],...|
|     6|[[25, 4.314672], ...|
|    16|[[32, 5.3282638],...|
|     3|[[51, 4.654152], ...|
|    20|[[75, 3.9568381],...|
|     5|[[55, 4.976837], ...|
|    19|[[30, 5.7033706],...|
|    15|[[62, 5.5941696],...|
|    17|[[30, 6.4869847],...|
|     9|[[66, 3.8748264],...|
|     4|[[76, 4.0555706],...|
|     8|[[52, 5.154766], ...|
|    23|[[90, 6.4023914],...|
|     7|[[25, 4.777889], ...|
+------+--------------------+
only showing top 20 rows

In [54]:
uidRecs=userRecs.where(userRecs.userId==28).first()

In [56]:
userRecs.toPandas()

    userId                                    recommendations
0       28  [(25, 7.616128921508789), (48, 4.9996628761291...
1       26  [(51, 5.903875827789307), (77, 5.7500386238098...
2       27  [(80, 4.77014684677124), (53, 4.07072973251342...
3       12  [(90, 5.735795974731445), (48, 5.3047142028808...
4       22  [(51, 5.078493595123291), (75, 4.9952054023742...
5        1  [(62, 3.770864486694336), (51, 3.6145625114440...
6       13  [(80, 4.968647480010986), (93, 3.7474310398101...
7        6  [(25, 4.314671993255615), (92, 4.0913710594177...
8       16  [(32, 5.328263759613037), (51, 4.7985057830810...
9        3  [(51, 4.654151916503906), (55, 4.2904396057128...
10      20  [(75, 3.9568381309509277), (55, 3.791332006454...
11       5  [(55, 4.976837158203125), (49, 4.6915650367736...
12      19  [(30, 5.703370571136475), (53, 5.3602075576782...
13      15  [(62, 5.594169616699219), (41, 4.6800212860107...
14      17  [(30, 6.486984729766846), (98, 5.1654825210571...
15       9  [(66, 3.874826431274414), (72, 3.5471830368041...
16       4  [(76, 4.055570602416992), (62, 4.0119504928588...
17       8  [(52, 5.154766082763672), (29, 4.8944725990295...
18      23  [(90, 6.40239143371582), (32, 5.16738843917846...
19       7  [(25, 4.777888774871826), (29, 4.2092857360839...
20      10  [(83, 4.880373954772949), (80, 4.1744871139526...
21      25  [(87, 6.091575622558594), (32, 5.6633653640747...
22      24  [(53, 5.356276035308838), (96, 5.0512356758117...
23      29  [(46, 4.8350725173950195), (90, 3.993924140930...
24      21  [(53, 4.92073392868042), (87, 3.94633507728576...
25      11  [(27, 5.172160625457764), (32, 5.1289806365966...
26      14  [(87, 5.499550819396973), (52, 5.0086336135864...
27       2  [(8, 5.239307403564453), (39, 5.14847087860107...
28       0  [(25, 5.8979597091674805), (52, 4.420215129852...
29      18  [(83, 4.794712066650391), (11, 3.8381974697113...

In [52]:
userRecs

DataFrame[userId: int, recommendations: array<struct<movieId:int,rating:float>>]