In [5]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(6, 4), index=[1,2,3,4,5,6], columns=list('ABCD'))

In [6]:
df

          A         B         C         D
1  1.112301  0.640136 -1.157753 -0.694084
2 -0.814697 -0.810220  0.499649  0.163122
3 -0.251119  0.011480 -0.455530 -0.750793
4  0.154650 -0.412723 -1.471111  1.226769
5  0.582801 -0.651650 -0.840996  0.346303
6 -1.293037 -1.162369 -0.005858  1.193903

In [59]:
 df.loc[1]['D']=np.nan

In [56]:
from scipy.spatial.distance import cosine

def calCos(a,b):
    return 0.5+0.5*(1-cosine(a, b))

In [57]:
 df.corr(method=calCos)

          A         B         C         D
A  1.000000  0.849834  0.234977  0.327104
B  0.849834  1.000000  0.501444  0.132817
C  0.234977  0.501444  1.000000  0.258780
D  0.327104  0.132817  0.258780  1.000000

In [46]:
a=[1,1,2,1,1,1,0,0,np.nan]
b=[1,1,1,0,1,1,1,1,1]

In [58]:
0.5+0.5*(1-cosine(a, b))

nan

In [60]:
df

          A         B         C         D
1  1.112301  0.640136 -1.157753       NaN
2 -0.814697 -0.810220  0.499649  0.163122
3 -0.251119  0.011480 -0.455530 -0.750793
4  0.154650 -0.412723 -1.471111  1.226769
5  0.582801 -0.651650 -0.840996  0.346303
6 -1.293037 -1.162369 -0.005858  1.193903

In [68]:
df['D'].value_counts()

 1.193903    1
 0.346303    1
-0.750793    1
 1.226769    1
 0.163122    1
Name: D, dtype: int64

In [66]:
pd.Series([1,2,3])[[True,False,False]]

0    1
dtype: int64

In [91]:
df.applymap(lambda a:a+1)

          A         B         C         D
1  2.112301  1.640136 -0.157753       NaN
2  0.185303  0.189780  1.499649  1.163122
3  0.748881  1.011480  0.544470  0.249207
4  1.154650  0.587277 -0.471111  2.226769
5  1.582801  0.348350  0.159004  1.346303
6 -0.293037 -0.162369  0.994142  2.193903